@import "variables";
@import "home";

@mixin main-background($padding, $font-size){
    padding:$padding;
    text-align:center;
    font-size:$font-size;
    color: blue;
}
header{
    @include main-background(30px, 40px);
}
footer{
    @include main-background(20px, 20px);
}
body{
    background-color: $section-backgroundcolor;
    font-size: 25px;
}

section{
    background-color:$section-backgroundcolor;

h1{
        font-size:60px;
        &:hover{
            color:$hover-color;
        }
}
p{
    font-style: italic;
    span{
        color:$ascent-color;
    }
}
}