.background{
    width:100vw;
    height:300px;
    display:flex;
    justify-content:center;
    
}
.bouncyball{
    width:100px;
    height:100px;
    /* background-color:red; */
    background-image: linear-gradient(to left,red,green,yellow,blue);
    border-radius:50%;
    position:relative;
    /* animation:bounce 3s; */
    animation-name: bounce ;
    animation-duration:1s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    from{
        top:800px
    }
    to{
        top:0px;
    }
}